<div class="row top-row">
    <div class="col-10">
        <h3>@_title</h3>
    </div>
    <div class="col-2">
        <NavLink class="nav-link float-end px-1" href="" Match="NavLinkMatch.All" data-toggle="tooltip" title="About">
            <BlazorBootstrap.Icon Name="BlazorBootstrap.IconName.QuestionCircle" Size="BlazorBootstrap.IconSize.x3" />
        </NavLink>
        <NavLink class="nav-link float-end px-1" href="" Match="NavLinkMatch.All" data-toggle="tooltip" title="Settings">
            <BlazorBootstrap.Icon Name="BlazorBootstrap.IconName.Gear" Size="BlazorBootstrap.IconSize.x3" />
        </NavLink>

    </div>
</div>

