
<div class="weekdays">
    <label>
        <span>M</span>
        <input type="checkbox" name="day" value="monday">
    </label>
    <label>
        <span>T</span>
        <input type="checkbox" name="day" value="tuesday">
    </label>
    <label>
        <span>W</span>
        <input type="checkbox" name="day" value="wednesday">
    </label>
    <label>
        <span>T</span>
        <input type="checkbox" name="day" value="thursday">
    </label>
    <label>
        <span>F</span>
        <input type="checkbox" name="day" value="friday">
    </label>
    <label>
        <span>S</span>
        <input type="checkbox" name="day" value="saturday">
    </label>
    <label>
        <span>S</span>
        <input type="checkbox" name="day" value="sunday">
    </label>
</div>