@inherits AuthComponentBase

<div class="card card-style">
    <div class="content mb-0">
        <DevLMultiSelect T="TagUI" FactoryMethod="_tagManager.Create" SelectedItems="_entry.Tags" AvailableItems="_tagItems" OnSelectedChanged="TagSelectionChangedAsync"></DevLMultiSelect>
         
        </div>
        </div>
<div class="card card-style below">
    <div class="content mb-0">
        <DevLMultiSelect T="TagUI" FactoryMethod="_tagManager.Create" SelectedItems="_entry.Tags" AvailableItems="_tagItems" OnSelectedChanged="TagSelectionChangedAsync"></DevLMultiSelect>

        <div class="input-style no-borders no-icon mb-4">
            <input id="form1a" type="text" class="form-control" placeholder="Title">
            <label for="form1a" class="color-highlight">Title</label>
        </div>

        <div class="input-style no-borders no-icon">
            <textarea id="form7a" placeholder="Text"></textarea>
            <label for="form7a" class="color-highlight">Text</label>
            <em class="mt-n3">(required)</em>
        </div>
    </div>
</div>
<div class="card card-style below">
    <div class="content mb-0">
        <button onclick="@OnClick">Here</button>


        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
        <div class="input-style no-borders has-icon validate-field mb-4">
            <i class="fa fa-user"></i>
            <input type="name" class="form-control validate-name" id="form1a" placeholder="Name">
            <label for="form1a" class="color-highlight">Name</label>
            <i class="fa fa-times disabled invalid color-red-dark"></i>
            <i class="fa fa-check disabled valid color-green-dark"></i>
            <em>(required)</em>
        </div>
    </div>
</div>