@page "/"

<PageTitle>Bureau</PageTitle>
<div class="text-center image-blur">
    <NavLink href="@BureauUIUris.Dashboard">
        <img src="logo.png" height="400" width="400" />
    </NavLink>
</div>
